* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #244fddf6;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


/* ENCABEZADO */

header {
    background-color: #000000;
    color: #00ff88;
    padding: 20px;
}

h1 {
    color: #00ff88;
    font-size: 32px;
}


/* TÍTULOS */

h2 {
    background-color: #000958;
    display: inline-block;
    color: #09b162;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 24px;
}

h3 {
    background-color: #06148f;
    display: inline-block;
    color: #09b162;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 20px;
}


/* TEXTOS Y ENLACES */

p {
    color: #eeeeee;
}

a {
    color: #ffffff;
    text-decoration: underline;
}


/* NAVEGACIÓN */

nav {
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
}

nav a:hover {
    color: #00ff88;
}


/* SECCIONES */

section {
    padding: 20px;
}


/* PRODUCTOS */

#productos {
    padding: 20px;
}

.lista-productos {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.producto {
    flex: 1;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #000958;
}

.producto img {
    width: 100%;
    height: auto;
    display: block;
}


/* SELECTOR AVANZADO */

.producto:nth-child(2) {
    border-color: #00ff88;
}


/* PIE DE PÁGINA */

footer {
    background-color: #000000;
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}


/* DISEÑO RESPONSIVE */

@media (max-width: 768px) {

    .lista-productos {
        flex-direction: column;
    }

    .producto {
        width: 100%;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    header {
        text-align: center;
    }

    section {
        padding: 15px;
    }

    footer {
        text-align: center;
    }
}